.bg-white {
  background-color: white;
}

.m-0 {
  margin: 0 !important;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2.8125rem;
  margin-bottom: 2.8125rem;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 4rem;
}

.border {
  border: 1px solid #E6E6E7;
}

.b-bottom {
  border-bottom: 1px solid #E6E6E7;
}

.in-progress {
  font-size: 12px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  svg {
    color: inherit;
    width: 12px;
    height: 12px;
    display:inline-block;
    transform: scale(3.0);
    margin-right: 0.5rem
  }
}

.soft-text {
  color: $soft-text !important;
  font-size: 0.75rem;
  font-weight: normal;
}

.c3-title {
  font-family: 'Inter', helvetica, sans-serif !important;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  padding: 4rem 0;

  .links-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .credits-wrapper {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
  }

  .last-updated {
    align-self: flex-end;
  }
}
